.auth {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .blockContent {
    background-color: rgb(218, 208, 224);
    border-radius: 5px;
    color: black;
    width: 30%;
    height: 60%;
    position: relative;

    @media screen and (max-width: 800px){
      width: 60%;
      height: 40%;
    }


    form {
      margin-top: 30px;
      width: 60%;

      @media screen and (max-width: 800px) {
        margin-top: 5px;
      }

      input,
      label {
        margin-top: 10px;
        display: block;

        @media screen and (max-width: 800px) {
          margin-top: 5px;
        }
      }

      label {
        font-size: clamp(0.8rem, 3vw, 1.3rem);
      }

      input {
        padding: 5px;
        border-radius: 5px;
        height: 35px;
        border: none;
        border-bottom: 1px solid gray;
        font-size: 20px;
        width: 97%;
        color: gray;

        &:focus {
          outline: none;
        }

        @media screen and (max-width: 800px) {
          height: 20px;
        }
      }
      .submitButton {
        button {
          display: flex;
          justify-content: center;
          width: 100%;
          border-radius: 10px;
          margin-top: 20px;
          padding: 15px;
          border: none;
          background-color: #222;
          color: white;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: #464343;
          }

          @media screen and (max-width: 800px) {
            margin-top: 10px;
            padding: 10px;
          }
        }
      }
    }
    .bottomText {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      text-align: center;
      margin-bottom: 15px;
      
      @media screen and (max-width: 800px) {
        margin-bottom: 8px;
        font-size: 10px;
      }

      a {
        color: gray;
      }
    }
  }
}
