.home {
  display: flex;
  background-color: var(--background-color);

  .homeContainer {
    flex: 9;

    .pageContent {
      .pageHeader {
        padding-top: 20px;
        padding-left: 40px;
        font-size: 40px;
        font-weight: bold;
        color: rgb(var(--color_gray));
      }

      .charts {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
        margin-top: 40px;

      }
      .widgets {
        --widget-size: 300px;
        display: grid;
        // display: flex;
        // flex-wrap: wrap;
        grid-template-columns: repeat(
          auto-fit,
          minmax(var(--widget-size), 1fr)
        );
        padding: 20px;
        gap: 20px;
        @media screen and (max-width: 600px) {
          grid-template-rows: repeat(2, 130px);
          --widget-size: 250px;
        }
      }
    }

    .listContainer {
      background-color: var(--second_background-color);
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(133, 82, 228, 0.47);
      border-radius: 10px;
      padding: 20px;
      margin: 20px;

      @media screen and (max-width: 1200px) {
        display: none;
      }

      .listTitle {
        font-weight: 500;
        font-size: 24px;
        color: rgb(var(--color));
      }
    }
  }
}
