.home {
  display: flex;
  background-color: var(--background-color);

  .homeContainer {
    flex: 9;

    .pageContent {
      .pageHeader {
        padding-top: 20px;
        padding-left: 40px;
        font-size: 40px;
        font-weight: bold;
        color: rgb(var(--color_gray));
      }

    }

  }
}
