.new {
  width: 100%;
  display: flex;

  .addContainer {
    flex: 6;
    background-color: #e5e3ee;

    .top,
    .bottom {
      background-color: white;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(133, 82, 228, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
      border-radius: 10px;

      h1 {
        color: rgb(182, 178, 178);
        font-size: 30px;
      }

      .left {
        flex: 1;
        text-align: center;

        img {
          margin-top: 40px;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;
        font-size: 18px;

        form {
          .formInput {
            display: flex;
            margin-top: 20px;
            width: 40%;
            label {
              width: 30%;
              display: flex;
              align-items: center;

              .icon {
                font-size: 26px;
                margin-left: 50%;
                cursor: pointer;
              }
            }

            input {
              width: 80%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
              font-size: 18px;
            }
          }
          button {
            text-align: center;
            width: 150px;
            margin-top: 20px;
            margin-left: 15%;
            margin-bottom: 20px;
            padding: 15px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}
