.featured {
  flex: 1;
  background-color: white;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(133, 82, 228, 0.47);
  padding: 10px;
  border-radius: 10px;

  .top {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    color: rgb(100, 97, 97);

    .title {
      font-size: 25px;
      font-weight: 500;
    }
  }

  .bottom {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
