.featured {
  flex: 1;
  background-color: var(--second_background-color);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(133, 82, 228, 0.47);
  padding: 10px;
  border-radius: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(var(--color_gray));

    .title {
      font-size: 25px;
      font-weight: 500;
      margin: 10px;
      color: rgb(var(--color));
    }
    .icon:hover {
      color: rgb(var(--color_gray));
      cursor: pointer;
    }
  }

  .bottom {
    margin-top: 20px;
    margin-bottom: 30px;

  }
}
