.app.dark {
    background-color: #222;

    .sidebar {
        background-color: #222;

        hr {
            border: 0.5px solid rgb(184, 179, 179);
          }
        li:hover {
            background-color: #323131;
        }
    }

    .navbar {
        background-color: #1f1e1e;
        color:rgb(184, 179, 179);
        border-color: rgb(184, 179, 179);

        .wrapper {
            .search {
                input {
                    color: white;
                }
            }
        }
    }

    .homeContainer {
        background-color: #222;


        .pageHeader {
            color: rgb(184, 179, 179);
        }
        .widget {
            background-color: #323131;
            color: rgb(184, 179, 179);
        } 
        .featured {
            background-color: #323131;
                        
            .top {
                color:rgb(184, 179, 179);

                .title {
                    color:rgb(184, 179, 179);
                }

            }
            .bottom {
                text {
                    fill: rgb(227, 223, 223);
                }
                span{
                    color: rgb(227, 223, 223);
                }
            }
        }
    }
}  


            
            

    


