.app.dark {
    background-color: #222;

    .sidebar {
        background-color: #222;

        hr {
            border: 0.5px solid rgb(184, 179, 179);
          }
        li:hover {
            background-color: #323131;
        }
    }

    .navbar {
        background-color: #1f1e1e;
        color:rgb(184, 179, 179);
        border-color: rgb(184, 179, 179);

        .wrapper {
            .search {
                input {
                    color: white;
                }
            }
        }
    }

    .homeContainer {
        background-color: #222;


        .pageHeader {
            color: rgb(184, 179, 179);
        }
        .widget {
            background-color: #323131;
            color: rgb(184, 179, 179);
        }
        .chart {
            background-color: #323131;
            color: rgb(127, 122, 122);

            .title {
                color: rgb(184, 179, 179);
            }
            text {
                fill: rgb(184, 179, 179);
            }
        }
        .listContainer {
            background-color: #323131;
            .listTitle {
                color: rgb(184, 179, 179);
            }
            
        .table {
            border-radius: 10px;
            .tableCell {
                background-color: #383737;
                color: rgb(197, 194, 194);
                border-color: #1b1a1a;
            }
        }
    }
        .featured {
            background-color: #323131;
                        
            .top {
                color:rgb(184, 179, 179);

                .title {
                    color:rgb(184, 179, 179);
                }

            }
            .bottom {
                text {
                    fill: rgb(223, 220, 220);
                }
                span{
                    color: rgb(227, 223, 223);
                }
            }
        }
    }
}  


            
            

    


