.walletTable {
  .totalStatistic {
    margin: 50px;
    color: gray;
    h1 {
        font-weight: bold;
        color: rgb(56, 56, 56);
    }
    p {
        font-size: 14px;
        font-weight: bold;
    }
    .up {
        color: rgb(56, 140, 28);
      }

      .down {
        color: red;
      }
  }
  .datatable{
    .MuiDataGrid-cell {
      font-size: 20px;
    }
    .name,.amount,.portfolio, .price,.balance {
      text-align: center;
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        margin-left: 5px;
        width: 20px;
        height: 20px;
      }
    }
    .name {
      font-weight: bold;
    }
}
}
