.datatable {
  border-radius: 10px;
  .data {
    .MuiDataGrid-cell {
      font-size: 20px;
      font-weight: bold;
      --rowBorderColor: none;

      &:focus {
        outline: none;
      }
    }
    .name,
    .amount,
    .portfolio,
    .price,
    .balance {
      text-align: center;

    }
    .amount,
    .name {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        margin-left: 5px;
        width: 20px;
        height: 20px;
      }
    }
    .nameIcon {
      width: 40px;
      margin-right: 20px;
    }
  }
}
