.sidebar {
  flex: 0;
  position: sticky;
  top: 0;
  border-right: 0.5px solid rgb(241, 238, 238);
  height: 100vh;
  background-color: white;
  transition: margin-right 4s 1s;

  .top {
    height: 70px;
    display: flex;
    align-items: center;

    .logo {
      flex: 1;
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }

    button {
      margin: 5px;
      color: #7451f8;
      border: none;
      background: none;
      cursor: pointer;
      float: right;

      .icon {
        font-size: 35px;
      }
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(241, 238, 238);
  }

  .center {
    padding-left: 20px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 20px;
        margin-top: 10px;
        margin-left: -10px;
        cursor: pointer;

        .iconWarpper {
          display: flex;
          justify-content: left;
          align-items: center;
        }

        &:hover {
          background-color: #ece8ff;
        }
        .icon {
          align-items: center;
          font-size: 30px;
          color: #7451f8;
        }
        span {
          font-size: 20px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .colorOption {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 7px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
