.sidebar {
  
  position: sticky;
  top: 0;
  border-right: 0.5px solid rgb(241, 238, 238);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(133, 82, 228, 0.47);
  height: 100vh;
  background-color: var(--background-color);
  transition: flex 0.2s, background-color 0.5s;
  z-index: 2;

  .top {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      margin: 0;
      padding: 0;
      flex: 2;
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 28px;
      font-weight: bold;
      color: #4827c0;

      img {
        margin: 0;
        padding: 0;
        width: 50px;
      }
    }
    .hiddenText {
      opacity: 0;
      display: none;
      transition: opacity 0.5s;
    }
    button {
      display: flex;
      flex: 1;
      justify-content: right;
      align-items: center;
      margin: 5px;
      color: #7451f8;
      border: none;
      background: none;
      cursor: pointer;
      float: right;

      &:hover {
        background: none;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
      .icon {
        font-size: 35px;
      }
    }
  }
  hr {
    height: 0;
    border: 0.1px solid rgb(241, 238, 238);
  }

  .center {
    padding-left: 20px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 20px;
        margin-top: 10px;
        margin-left: -10px;
        cursor: pointer;

        .iconWarpper {
          display: flex;
          justify-content: left;
          align-items: center;
        }

        &:hover {
          background-color: #ece8ff;
        }
        .icon {
          align-items: center;
          font-size: clamp(1.5rem, 5vw, 2rem);
          color: #7451f8;
        }
        .hiddenText {
          opacity: 0;
          display: none;
          transition: opacity 0.5s;
        }
        span {
          font-size: 20px;
          font-weight: 600;
          color: rgb(var(--color_gray));
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .colorOption {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 7px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
