.wallet {
  display: flex;

  .walletContainer {
    flex: 9;

    .content {
      .totalStatistic {
        margin: 50px;
        color: gray;
        h1 {
          font-weight: bold;
          color: rgb(56, 56, 56);
        }
        p {
          font-size: 14px;
          font-weight: bold;
        }
        .up {
          color: rgb(56, 140, 28);
        }

        .down {
          color: red;
        }
      }
      .buttonGroup {
        margin-left: 50px;

        button {
          font-weight: bold;
          text-transform: none;
          padding: 8px 20px;
          margin: 0px;
          font-size: 18px;
        }
      }
    }
  }
}
